.App {
  text-align: center;
}



.App-header {
  background: linear-gradient(22deg, rgba(5,2,25,1) 32%, rgba(3,47,57,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexContainer {
  display: flex;
  flex-flow: column wrap;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: calc(50% - width/2);
}

.content {
  margin-bottom: 60px;
}